/* You can add global styles to this file, and also import other style files */
@import 'font-fresca.css';
@import 'font-pMarker.css';
.pMarker {
    font-family: 'Permanent Marker', cursive;
  }
.fresca{
    font-family: "Fresca", normal;
}
.colorContainer{
  width: 100vw;
  height: 100vh;
}
body{
  background-image: linear-gradient( to right,  #f7fff7, #ffe66d)
}
